@media screen and (max-width:800px) {
    .h1New{
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.navIconFixed{
    width:148px;
    margin: 20px;
}



/* Font */  
.h1{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 113px;
    text-align: center;
    letter-spacing: -1.5px;
    font-feature-settings: 'pnum' on, 'lnum' on;

}

.h4{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: 0.25px;
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.bodyBig{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}


/* Auto layout */ 
.bodyBigHero{
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;
}

.hero{
    display: flex;
    flex-direction: column;
    padding: 0px;
    
    position: absolute;
    width: 791px;
    height: 256px;
    left: calc(50% - 791px/2 + 0.5px);
    top: calc(50% - 256px/2 - 0.5px);
}

.section2{
    position: absolute;
    display: flex;
    width: 1112px;
    height: 275px;
    left: calc(50% - 1112px/2 + 80px);
    top: calc(50% - 275px/2 - 0.5px);
}

.frameExp{
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: absolute;
    width: 494px;
    height: 275px;
    left: calc(50% - 494px/2 - 309px);
    top: calc(50% - 275px/2);

}

.frameCaption{
    flex: none;
    order: 1;
    align-self: flex-start;
    margin: 0px 10px;
}

.frameAbout{
    display: flex;
    flex-direction: column;
    padding: 10px;

    position: absolute;
    width: 494px;
    height: 275px;
    left: calc(50% - 494px/2 + 309px);
    top: calc(50% - 275px/2);

}

/* Color */
.accentColor1{
    color: #4E0C6E;
}

.tipoBlack{
    color: #1C1C1C;;
}

.white{
    background-color: #F6FDFF;
    color:"F6FDFF";
}

.accentColor2{
    color: #F25CAF;
}

/* Shape */
.shapeTransform-forward{
    background-image: url('/assets/shapeTransform.svg');

    position: absolute;
    width: 455px;
    height: 357px;
    left: calc(50% - 455px/2 + 170.5px);
    top: calc(50% - 357px/2 - 178px);

    animation: transition-delay-forward 3000ms forwards;
    animation-delay: 1.5s;
}

.shapeTransform-backward{
    background-image: url('/assets/shapeTransform.svg');

    position: absolute;
    width: 455px;
    height: 357px;
    left: calc(50% - 455px/2 + 170.5px);
    top: calc(50% - 357px/2 - 178px);

    animation: transition-delay-backward 3000ms forwards;
    animation-delay: 0s;
}

.pattrent{
    background-image: url('/assets/waihoPattren.svg');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}

/* Transition*/

@keyframes transition-delay-forward{
    from {
        width: 455px;
        height: 357px;
        position: absolute;
    }
    to {
        transform:scale(10,10);
        position:fixed;
    }
}

@keyframes transition-delay-backward{
    from {
        transform:scale(10,10);
        position:fixed;
    }
    to {
        position: fixed;
        left: 109.86%;
        right: -47.01%;
        top: 89.05%;
        bottom: -48.79%;
    }
}

/* Hover */
#underline .underlineAnimate {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin: 0 0 12px;
}
#underline .underlineAnimate .hover {
    text-align: center;
    margin: 0 auto;
    padding: 0;
    transition: all 0.2s ease-in-out;
    position: relative;
}
#underline .underlineAnimate .hover:before, #underline .underlineAnimate .hover:after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0px;
    height: 5px;
    margin: 5px 0 0;
    transition: all 0.2s ease-in-out;
    transition-duration: 0.75s;
    opacity: 0;
    background-color:#F25CAF;
}
#underline .underlineAnimate .hover.hover-3:before {
    left: 50%;
}
#underline .underlineAnimate .hover.hover-3:after {
    right: 50%;
}
#underline .underlineAnimate:hover {
    cursor: pointer;
}
#underline .underlineAnimate:hover .hover:before, #underline .underlineAnimate:hover .hover:after {
    width: 100%;
    opacity: 1;
}
#underline .underlineAnimate:hover .hover.hover-3:before, #underline .underlineAnimate:hover .hover.hover-4:before, #underline .underlineAnimate:hover .hover.hover-3:after, #underline .underlineAnimate:hover .hover.hover-4:after {
    width: 50%;
}