@media screen and (max-width:800px) {
    .h1New{
      width:100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }

/* Font */  
.h1{
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 113px;
    text-align: center;
    letter-spacing: -1.5px;
    font-feature-settings: 'pnum' on, 'lnum' on;

}

.bodyBig{
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}


/* Auto layout */ 
.bodyBigHero{
    flex: none;
    order: 0;
    align-self: center;
    margin: 0px 0px;
}

.hero{
    display: flex;
    flex-direction: column;
    padding: 0px;
    
    position: absolute;
    width: 791px;
    height: 256px;
    left: calc(50% - 791px/2 + 0.5px);
    top: calc(50% - 256px/2 - 0.5px);
}

/* Color */
.accentColor1{
    color: #4E0C6E;
}

.white{
    background-color: #F6FDFF;
    color:"F6FDFF";
}

/* Shape */
.shapeTransform-forward{
    background-image: url('/assets/shapeTransform.svg');

    position: absolute;
    width: 455px;
    height: 357px;
    left: calc(50% - 455px/2 + 170.5px);
    top: calc(50% - 357px/2 - 178px);

    animation: transition-delay-forward 3000ms forwards;
    animation-delay: 1.5s;
}

.shapeTransform-backward{
    background-image: url('/assets/shapeTransform.svg');

    position: absolute;
    width: 455px;
    height: 357px;
    left: calc(50% - 455px/2 + 170.5px);
    top: calc(50% - 357px/2 - 178px);

    animation: transition-delay-backward 3000ms forwards;
    animation-delay: 0s;
}


.pattrent{
    background-image: url('/assets/waihoPattren.svg');
    background-repeat: repeat;
    width: 100%;
    height: 100%;
}

/* Transition*/

@keyframes transition-delay-forward{
    from {
        width: 455px;
        height: 357px;
        position: absolute;
    }
    to {
        transform:scale(10,10);
        position:fixed;
    }
}

@keyframes transition-delay-backward{
    from {
        transform:scale(10,10);
        position:fixed;
    }
    to {
        position: fixed;
        left: 91.81%;
        right: -28.96%;
        top: 85.49%;
        bottom: -45.23%;
    }
}
